body,
.chart div,
.chart dl,
.chart dt,
.chart dd,
.chart ul,
.chart ol,
.chart li,
.chart h1,
.chart h2,
.chart h3,
.chart h4,
.chart h5,
.chart h6,
.chart pre,
.chart form,
.chart fieldset,
.chart input,
.chart textarea,
.chart p,
.chart blockquote,
.chart th,
.chart td { margin:0; padding:0; }

table { border-collapse:collapse; border-spacing:0; }
fieldset,img { border:0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style:normal; font-weight:normal; }
caption,th { text-align:left; }

.chart h1,
.chart h2,
.chart h3,
.chart h4,
.chart h5,
.chart h6 { font-size:100%; font-weight:normal; }

q:before,q:after { content:''; }
abbr,acronym { border:0; }

body { background: #fff; font-family: "Arial"; }
/* optional Container STYLES */
#solution-tree-container { height: 400px; width: 20%; float: right; }
.chart { height: 300px; width: 100%; }
#solution-tree-tooltip { height: 100px; }
#solution-tree-tooltip p { font-size: 0.8em; margin: 0 5px; }
.Treant > .node {  }
.Treant > p { font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; font-weight: bold; font-size: 12px; }
.node-name { font-weight: bold;}

.node {
    padding: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #000;
    /* width: 250px; */
    font-family: Tahoma;
    font-size: 12px;
}

a.node {
    color: inherit;
    text-decoration: none;
}

#header {
    height: 50px;
    background-color: #666;
    text-align: right;
}

#header div {
    display: inline-block;
    line-height: 50px;
    color: #ddd;
    padding: 0 10px;
    text-transform: uppercase;
}

#back-to-index {
    float: left;
}

#header a div:hover {
    background-color: #ddd;
    color: #666;
}

#header strong {
    font-weight: bold;
}

#output {
    font-family: "Consolas";
}

.editor {
    width: 40%;
    height: 400px;
    float: left;
}

h1 {
    text-align: center;
}

.exercise-selector {
    height: 45px;
    vertical-align: middle;
    margin: 0 10px;
}

#exercise-step {
    height: 150px;
    border: #666 2px solid;
    border-radius: 5px;
    margin-bottom: 5px;
}

.step-selector {
    display: inline-block;
    width: 5%;
    height: 150px;
    vertical-align: top;
    padding: 0;
}

#step-text {
    display: inline-block;
    width: 89%;
    height: 150px;
    padding: 0 .5%;
    overflow: auto;
}
