body {
    font-family: "Arial";
    margin: 0;
}

#header {
    height: 50px;
    background-color: #666;
    text-align: right;
}

#header div {
    display: inline-block;
    line-height: 50px;
    color: #ddd;
    padding: 0 10px;
    text-transform: uppercase;
}

#back-to-index {
    float: left;
}

#header a div:hover {
    background-color: #ddd;
    color: #666;
}

#output {
    font-family: "Consolas";
}

.editor {
    width: 50%;
    height: 300px;
}

#code_editor {
    float: left;
}

h1 {
    text-align: center;
}

.exercise-selector {
    height: 45px;
    vertical-align: middle;
    margin: 0 10px;
}
