body {
    font-family: "Arial";
}

#output {
    font-family: "Consolas";
}

.editor {
    width: 50%;
    height: 300px;
}

#code_editor {
    float: left;
}

h1 {
    text-align: center;
}

.exercise-selector {
    height: 45px;
    vertical-align: middle;
    margin: 0 10px;
}
