# C/C++ object files
*.o

# C/C++ static library files
*.a

# executable files
*.exe
*.out

# Python compiled files
*.pyc
*/__pycache__/*

# PyCharm project files
.idea/*

# ViM files
*.swp

# user-created content
refactoring/exercises/*
