# C/C++ object files
*.o

# C/C++ static library files
*.a

# executable filesa
*.exe
*.out

# python compiled files
*.pyc
*/__pycache__/*

# files that change over time
refactoring/exercise/include/*
