# C/C++ object files
*.o

# C/C++ static library files
*.a

# executable filesa
*.exe
*.out

# Python compiled files
*.pyc
*/__pycache__/*

# PyCharm project files
.idea/*

# files that change over time
refactoring/exercise/include/*
