{% extends 'base.html' %}
{% load static %}

{% block title %}Cvičenie č. {{ exercise_id }}{% endblock %}

{% block stylesheet %}{% static 'refactoring/style/detail.css' %}{% endblock %}

{% block content %}
<section>
    <h1>Refaktorizačné cvičenie č. {{ exercise_id }}</h1>
    {{ exercise_text|linebreaks }}
</section>

<form action="{% url 'sessions' exercise_id %}">
<p>
Práve vybraný session č.: <strong>{{ session.id }}</strong>
<button>Zmeniť</button>
</p>
</form>

<form action="{% url 'solutions' exercise_id %}">
<button{% if not selected_solution %} disabled{% endif %}>Vybrať iné riešenie</button>
</form>

<form method="post" id="refactoring_form">
{% csrf_token %}
{{ form }}
<div id="code_editor" class="editor"></div>
<div id="tests_editor" class="editor"></div>
<br>
<input type="submit" name="compileandrun" value="Compile and Run">
</form>

{% if output is not None %}
<section id="output">
<p>{{ output|linebreaksbr }}</p>
</section>
{% endif %}

<script>
var codeTA = $('#{{ form.code.auto_id }}');
var testsTA = $('#{{ form.tests.auto_id }}');

codeTA.css('display', 'none');
testsTA.css('display', 'none');
</script>
<script src="{% static 'ace/ace.js' %}" charset="utf-8"></script>
<script>
var codeEditor = ace.edit('code_editor');
codeEditor.setTheme('mono_industrial');
codeEditor.getSession().setMode('c_cpp');
codeEditor.setValue(codeTA.val());
codeEditor.gotoLine(0, 0);

var testsEditor = ace.edit('tests_editor');
testsEditor.setTheme('mono_industrial');
testsEditor.getSession().setMode('c_cpp');
testsEditor.setValue(testsTA.val());
testsEditor.gotoLine(0, 0);

$('#refactoring_form').submit(function() {
    codeTA.val(codeEditor.getValue());
    testsTA.val(testsEditor.getValue());
    return true;
});
</script>
{% endblock %}
