{% extends 'base.html' %}
{% load static %}

{% block title %}Cvičenie č. {{ exercise_id }}{% endblock %}

{% block stylesheet %}{% static 'refactoring/style/detail.css' %}{% endblock %}

{% block content %}
<section>
    <h1>Refaktorizačné cvičenie č. {{ exercise_id }}</h1>
    {{ exercise_text|linebreaks }}
</section>

<p>Vyberte si session:</p>

<p>Vyberte si riešenie:</p>
<form method="get">
<select name="solution">
{% if solutions %}
  {% for solution in solutions %}
    <option value="{{ solution.id }}"{% if solution == selected %} selected{% endif %}>{{ solution }}</option>
  {% endfor %}
{% else %}
  <option>(No solutions yet)</option>
{% endif %}
</select>
<button type="submit"{% if not solutions %} disabled{% endif %}>Choose solution</button>
</form>

<form method="post">
{% csrf_token %}
{{ form }}
<br>
<input type="submit" name="compileandrun" value="Compile and Run">
</form>
{% if output is not None %}

<section id="output">
<p>{{ output|linebreaksbr }}</p>
</section>
{% endif %}
{% endblock %}
