{% extends 'base.html' %}
{% load static %}

{% block title %}Cvičenie č. {{ exercise_id }}{% endblock %}

{% block stylesheet %}{% static 'refactoring/style/detail.css' %}{% endblock %}

{% block content %}
<section>
    <h1>Refaktorizačné cvičenie č. {{ exercise_id }}</h1>
    {{ exercise_text|linebreaks }}
</section>

<form action="{% url 'sessions' exercise_id %}">
<p>
Práve vybraný session č.: <strong>{{ session.id }}</strong>
<button>Zmeniť</button>
</p>
</form>

<form action="{% url 'solutions' exercise_id %}">
<button{% if not selected_solution %} disabled{% endif %}>Vybrať iné riešenie</button>
</form>

<form method="post">
{% csrf_token %}
{{ form }}
<br>
<input type="submit" name="compileandrun" value="Compile and Run">
</form>
{% if output is not None %}

<section id="output">
<p>{{ output|linebreaksbr }}</p>
</section>
{% endif %}
{% endblock %}
