{% extends 'base.html' %}

{% block title %}Refactoring exercises{% endblock %}

{% block stylesheet %}static/refactoring/style/index.css{% endblock %}

{% block content %}
<section>
    <h1>Refaktorizačné cvičenie č. 1</h1>
    <p>Toto je úryvok z kódu, ktorý v C++ implementuje random-access zoznam
    pomocou C-čkovských polí, kontroluje pretečenie a sám sa nafukuje.</p>
    <p>Vidíte metódu 'push_back', ktorá zoberie prvok a vloží ho na koniec
    zoznamu. Nie je veľmi dobre čitateľná. Refaktorizujte ju tak, aby sa
    dala ľahšie čítať.</p>
    <p>Kód nesmie zmeniť funkcionalitu, ktorá je testovaná jednotkovými
    testami. Tie môžete vidieť napravo.</p>
</section>

<form method="post">
{% csrf_token %}
{{ form }}
<br>
<input type="submit" name="submit" value="Compile and Run">
<input type="submit" name="reset" value="Reset">
</form>
{% if output is not None %}

<section id="output">
<p>{{ output|linebreaks }}</p>
</section>
{% endif %}
{% endblock %}
