{% extends 'base.html' %}
{% load static %}

{% block title %}Sessions cvičenia č. {{ exercise_id }}{% endblock %}

{% block stylesheet %}{% static 'refactoring/style/sessions.css' %}{% endblock %}

{% block content %}
{% include './common/header.html' %}

<p>K cvičeniu č. {{ exercise_id }} máte vytvorené nasledovné sessions:</p>
<form action="{% url 'detail' exercise_id %}" method="get">
{% for session in sessions %}
  <button class="select" type="submit" name="session_id" value="{{ session.id }}">Session č. {{ session.id }}{% if session == selected_session %} (práve vybraný){% endif %}</button>
  <a href="{% url 'delete_session' exercise_id session.id %}"><img class="delete" src="{% static 'refactoring/img/delete.png' %}"></a>
  <br>
{% endfor %}
</form>
<br>
<form action="{% url 'new_session' exercise_id %}">
  <button type="submit">Vytvoriť nový session</button>
</form>
{% endblock %}
