{% extends 'base.html' %}
{% load static %}

{% block title %}Riešenia cvičenia č. {{ exercise_id }}{% endblock %}

{% block stylesheet %}{% static 'treant/Treant.css' %}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'refactoring/style/solutions.css' %}">
{% endblock %}

{% block content %}
<div id="solution-tree" class="chart"></div>
<script src="{% static 'treant/vendor/raphael.js' %}"></script>
<script src="{% static 'treant/Treant.js' %}"></script>
<script>
var config = {
    container: "#solution-tree",
};

{% for solution in solutions %}
var solution_{{ solution.id }} = {
    {% if solution.parent is not None %}
    parent: solution_{{ solution.parent.id }},
    {% endif %}
    text: {
        name: "{{ solution }}",
        {% if solution == selected_solution %}
        desc: "Práve vybrané",
        {% endif %}
    },
    link: { href: "{% url 'detail' exercise_id %}?solution_id={{ solution.id }}" },
};
{% endfor %}

var solution_tree_config = [
    config,
    {% for solution in solutions %}
    solution_{{ solution.id }},
    {% endfor %}
];
new Treant(solution_tree_config);
</script>
{% endblock %}
