{% load static %}
<!DOCTYPE html>

<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>

    <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->

    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}">

    <link rel="stylesheet" href="{% block stylesheet %}{% endblock %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    {% block extra_head %}
    {% endblock %}
</head>

<body>
{% block content %}
{% endblock %}
</body>
</html>

